body {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    font: normal 16px Arial;
    margin: 20px;
}

.container {
    position: fixed;
    width: 555px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
}

#video {
    border-radius: 10px;
}

#video:hover{
    transform: scale(1.01,1.01);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.322);
}

.socialmedia {
    position: fixed;
    width: 205px;
    height: 200px;
    background-color: rgba(101, 1, 216, 0.1);
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
    margin-left: 600px;
}

.icon{
    position: relative;
    display: inline-block;
    opacity: 75%;
    margin: 0px 45px 0px 0px;
    width: 20px;
    height: 20px;

}

.icon:hover{
    transform: scale(1.05,1.05);
    opacity: 100%;
}

#idade{
    position: fixed;
    width: 205px;
    height: 220px;
    background-color: rgba(1, 155, 216, 0.1);
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    margin-top: 250px;
    margin-left: 600px; 
}

#age{
    background-color: rgba(240, 248, 255, 0);
    color: antiquewhite;
    font: normal 12px Arial;
    width: 100%;
    height: 15px;
    margin: 10px 0 10px 0;
    border-style: 2px none rgba(255, 255, 255, 0);
    border-shadow
}

#btn{
    position: relative;
    width: 102%;
    height: 30px;
    background-color: rgba(1, 155, 216, 0.1);
    color: antiquewhite;
    border: none;
    border-radius: 5px;
}

#btn:hover{
    background-color: rgba(1, 155, 216, 0.219);
}
