body {
    background-color: rgb(75, 27, 187);
    color: rgb(255, 255, 255);
    font: normal 16px Arial;
    margin: 50px 500px 0px 50px;
}

.container {
    position: fixed;
    width: 555px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.315);
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
}

#video {
    border-radius: 10px;
}

.socialmedia {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.315);
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
    margin-left: 600px;
}

.icon{
    margin: 5px;
}