body{
    background-color: rgb(184, 184, 184);
    font: normal 16px Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background-color: rgba(71, 71, 71, 0.322);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    margin: auto;

}

img{
    width: 400px;
    height: 400px;
    padding-top: 10px;
    border-radius: 15px;
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}

